.main{
    border-bottom: #333 1px solid;
    padding: 30px 0;
}

.artist-header{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:solid 1px #333;
}

.artist-thumb{
    width:80px;
    height:auto;
    float:left;
    margin-right:10px;
}
.album-tracks .well h5{
  float: left;
  margin-right: 10px;
}

.artist-albums .well{
    margin-bottom:20px;
    overflow:auto;
    min-height:400px;
}

.album{
    text-align: center;
    background: #333;
    padding: 10px 20px;
    border:#666 1px solid;
}

.album-thumb{
    width:100%;
}

h4 {
    color: #2780e3;
}

.geners {
   color: white;
}

#cart ul {
  list-style: none;
}
#cart li{
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  padding: 5px;
}

#cart h4 {
  margin-top: 0;
}
#cart .btn {
  padding: 5px 18px;
}
#cart img {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 10px;
}

notifications {
  position: fixed;
  top: 20px;
  left: 5px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}
notifications .alert {
  margin-bottom: 0;
}
