<div *ngIf="albums" id="cart">
 <div class="artist-albums">
    <ul class="row">
      <li *ngFor="let album of albums">
				<img class="card-img-top" src="{{album.images[2].url}}" alt="Card image cap">
				<div class="card-block">
				  <h4 class="card-title">{{album.name}}</h4>
				  <a class="btn btn-primary"  (click)="removeShopCart(album)">Eliminar</a>
				</div>
			</li>
    </ul>
  </div>
</div>
<div  class="jumbotron" *ngIf="albums.length == 0">
    <h1>Carrito  vacio :(</h1>
</div>
