<div *ngIf="artist">
    <header class="artist-header">
        <div *ngIf="artist.images.length > 0">
            <img class="artist-thumb img-circle" src="{{artist.images[0].url}}">
        </div>
        <h1>{{artist.name}}</h1>
        <p *ngIf="artist.genres.length > 0">
            Generos: <span *ngFor="let genre of artist.genres">{{genre}}, </span>
        </p>
    </header>

    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums">
                <div class="col-md-3">
                    <div class="well album">
                        <div *ngIf="album.images.length > 0">
                            <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}">
                            <h4>{{album.name}}</h4>
                            <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}">Detalles</a>
                            <a class="btn btn-primary btn-block" (click)="addShopCart(album)">comprar</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
