<h1> <strong>Necesita Música?</strong></h1>
<p class="lead">Use inoutStore para buscar y comprar la música que te guste online
<form>
    <div class="form-group">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Buscar Música...">
    </div>
</form>

<div *ngIf="searchRes">
 <div class="artist-albums">
    <div class="row">
        <div *ngFor="let album of searchRes">
            <div class="col-md-3">
                <div class="well album">
                    <div *ngIf="album.images.length > 0">
                        <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}">
                        <h4>{{album.name}}</h4>
                        <a class="btn btn-default btn-block" routerLink="/artist/{{album.id}}">Ver más</a>
                        <a class="btn btn-primary btn-block" (click)="addShopCart(album)">comprar</a>
                    </div>
                    <div *ngIf="album.genres.length > 0" class="geners">
                        <strong>Generos: </strong>
                        <span  *ngFor="let genre of album.genres">{{genre}}, </span>
                    </div>
                 </div>
            </div>
        </div>
    </div>
  </div>
</div>
