<div id="album" *ngIf="album">
    <header class="album-header">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="album.images.length > 0">
                    <img class="album-thumb" src="{{album.images[0].url}}">
                </div>
            </div>
            <div class="col-md-8">
                <h4 *ngIf="album.artists.length > 0"><span *ngFor="let artist of album.artists">
                {{artist.name}}
                </span></h4>
                <h2>{{album.name}}</h2>
                <h5>Fecha de lanzamiento: {{album.release_date}}</h5>
                <a class="btn btn-default btn-block" target="_blank" href="{{album.external_urls.spotify}}">Ver En Spotify</a>
                <a class="btn btn-primary btn-block" (click)="addShopCart(album)">comprar</a>
            </div>
        </div>
    </header>

    <div class="album-tracks">
        <h2>canciones del Album</h2>
        <div *ngFor="let track of album.tracks.items">
            <div class="well">
                <h5>{{track.track_number}} - {{track.name}}</h5>
                <audio src="{{track.preview_url}}" controls loop>
                    <p>inout store</p>
                </audio>
            </div>
        </div>
    </div>
</div>
